.card {
    background: #fff;
    /* border-radius: 12px; */
    overflow-y: hidden;
    overflow-y: hidden;
}

.card .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}